@page "/"

<PageTitle>Index</PageTitle>

<h1>Hello Emirates Auction!</h1>

Assigment submitted by Muhammad Hamza Hussain.
<h6>Email : hamzathedeveloper@gmail.com</h6>

<MudText>The application is based on Blazor Server .Net 6</MudText>
<MudText>The Api to fetch Data from MS Sql is .Net 6 Api.</MudText>
<MudText>EF 6 has been used with LINQ queries.</MudText>
<MudText>On the left, there are reports as requested:</MudText>
<MudText>1. Receivable Customer List Report with Date Parameter</MudText>
<MudText>2. Payment Settlement Report with FromDate & ToDate Parameter.</MudText>
<MudText>3. Report Extraction - This report is generated from the table ReportLog.</MudText>
<MudText>The data is Seed into tables of three months [ Jan 24 - March 24]</MudText>
<MudText>Use date filters between these months date!</MudText>